<h1>Show Comment Page/h1>

<!-- <p>Find me in app/views/comment/show.html.erb</p> -->

<%= render @comment %>

<%= link_to "Delete Comment", post_comment_path, method: :delete, data: {confirm: "Are you sure you want to do this?"} %>


