<h1>Post Show Page</h1>
<!-- <p>Find me in app/views/post/show.html.erb</p> -->

<%= render @post %>

<h3>Comments</h3>
<%= render @post.comments %>

<br>

<%= link_to "Destroy", @post, method: :delete, data: { confirm: "Are you sure?" } %>